name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file container-data/Containerfile --tag beammp-server-portainer-patch:$(date +%s)
    
    - name: Save Docker image
      run: docker save beammp-server-portainer-patch:$(date +%s) -o beammp-server-image.tar
    
    - name: Upload Docker image as artifact
      uses: actions/upload-artifact@v4
      with:
        name: beammp-server-image
        path: beammp-server-image.tar
        retention-days: 7
